<ion-header>
  <ion-toolbar>
    <ion-title>About us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-card>
    <h1>About us</h1>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item>Young Pyung Yoo</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Mark Romel Trespeces</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Kent Pedrocha</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>John Jademar Lopez</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card>
</ion-content>