ion-grid {
  --ion-grid-column-padding: 10px;
  border-collapse: collapse;
  border-style: hidden;

  ion-row:first-child {
    background-color:  #2dd36f;
    font-weight: bold;
    color: black;
  }
  ion-col {
    position: block;
    border-bottom: 0;
    border-right: 0;
    font-size: medium;
  }
}
.red {
background-color: tomato;
}