#container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  text-indent: 20px;
  text-align: justify;
}

#container a {
  text-decoration: none;
}

mat-card {
  position: static;
  margin: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}

mat-card-title{
  text-align: center;
  text-transform: uppercase;
  font-size: medium;
  color: #4CAF50;
}

.example-card {
  max-width: 400px;
}
