<ion-content [fullscreen]="true">
  <div id="container" class="example-card">
    <mat-card >
      <mat-card-title>Welcome to Food Advisor!</mat-card-title>
      <mat-card-content>
        <p>We created the Food Advisor application to store memories and experiences from different restaurants, food stalls, fast food, etc.
           With this, the users can reminisce what happened on they visited food places.</p>
        <p>The Food Advisor aims to be like a note-taking app with customized functionality based only on the food places they visited. </p>
        The application can: 
        <ul>
          <li>store the name of the restaurants,</li>
          <li>description,</li>
          <li>the address,</li>
          <li>photos,</li>
          <li>phone number,</li>
          <li>tags,</li>
          <li>and even add ratings.</li>
        </ul>

      </mat-card-content>
    </mat-card>
  </div>
</ion-content>